# URL del backend NestJS
VITE_API_URL=http://localhost:3009/api
VITE_SOCKET_URL=http://localhost:3009

# 'desarrollo' usa simulación de pago | 'produccion' redirige a Wompi real
VITE_FORMA_PAGO=desarrollo
